body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(ght.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
}
.container{
    height: 450px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    backdrop-filter: blur(3px); /* Blurs the background */
    -webkit-backdrop-filter: blur(6px); /* Safari support */
    padding: 20px;
    border-radius: 30px;     
    box-shadow:0px 8px 15px rgba(14, 13, 13, 0.3);
    background: rgba(0, 0, 0, 0.5);

}


#pk{
    margin: 5;
    color: white;
}

#eja{
    border: 2px solid white; /* Corrected 'soloid' to 'solid' */
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#weight{
    border: 2px solid white; /* Corrected 'soloid' to 'solid' */
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#height{
    border: 2px solid white; /* Corrected 'soloid' to 'solid' */
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#up{
    margin: 20px;
    position: relative;
    right: 70px;
    color: white;
}

#tut{
    margin: 20px;
    position: relative;
    right: 90px;
    color: white;
}
#down{
    margin: 20px;
    position: relative;
    right: 70px;
    color: white;
}
button{
    border: none;
    outline: none;
    background-color: grey;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(115, 115, 115);
}
#id{
    font-family: serif;
    color: white;
}

#weight::-webkit-outer-spin-button,
#weight::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;        
}

#height::-webkit-outer-spin-button,
#height::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
#eja::-webkit-outer-spin-button,
#eja::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}